.add-task-component {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;

  .task-type-button {
    position: relative;
    border: 0;
    width: 16px;
    background: none;
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
    transition: 0.3s;
    img {
      position: absolute;
      opacity: 1;
      top: -10px;
      left: 0px;
      transition: 0.3s;
    }
    .habit {
      top: -12px;
    }
    .hidden {
      opacity: 0;
    }

  }

  .add-task-input {
    width: 100%;
    height: 36px;
    border: 0;
    border-bottom: 1px solid #D9DCDB;
    outline:0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-variation-settings: 'wght' 320;
    color: #242C28;
    font-size: 16px;
    caret-color: #242C28;
  }
  .add-task-input:focus {
    outline:none !important;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D9DCDB;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D9DCDB;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #D9DCDB;
  }
}
