<div class="add-task-component">
  <button class="task-type-button" (click)="toggleIsHabit()">
    <img [ngClass]="{'hidden': this.newTask.isHabit}" src="assets/icons/add-task-grey.svg" alt="Add Task" draggable="false">
    <img [ngClass]="{'habit': true, 'hidden': !this.newTask.isHabit}" src="assets/icons/add-habit-grey.svg" alt="Add Habit" draggable="false">
  </button>
  <input class="add-task-input"
    [placeholder]="newTask.isHabit ? 'Add habit' : 'Add task'"
    [(ngModel)]="newTask.name"
    (keydown.enter)="createTask()">
</div>
